.layoutContainer {
    width: 100%;
}

.aboutContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
}

.container {
    width: 75%;
    padding: 1rem;
    /* margin: 10px 50px 10px 80px; */
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgb(245, 129, 198);
    transition: background-color 0.3s ease;
}


.description {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
}

.imgContainer {
    width: 440px;
    height: 609px;
    margin: 0px 0px 0px 125px;
    /* padding: 15px 0 0 25px; */
    border-radius: 20px;
    border: 1px solid rgb(245, 129, 198);
}

.imgContainer img {
    border-radius: 20px;
}