@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220; */
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-color: rgb(255, 255, 255);
    /* font-family: fantasy, sans-serif; */
}

.pageTitle {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.my-links a {
  color: #0070f3;
  text-decoration: none;
}

.my-links a:hover,
.my-links a:focus,
.my-links a:active {
  text-decoration: underline;
}

.menuContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  padding: 1rem;
}

.hello {
  line-height: 0.9;
  font-weight: 400;
}

/* NAVIGATION STYLES */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #33333300;
  padding: 10px 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);n */
}

.navLogo {
  max-width: 300px;
  font-size: 26px;
}

.myLogo {
  width: 300px;
  height: 70px;
  margin: 0 20px;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 20px; /* Adjust spacing for mobile */
    flex-direction: column;
  }

  .nav-links a {
    margin-bottom: 10px; /* Adjust spacing for mobile */
  }
}

/* PROJECT CARDS */
.card {
  height: 434px;
  width: 350px;
  border: 1px solid #ccc;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.card-content {
  padding: 10px;
  background-color: #fff;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.card.hovered .card-content {
  transform: translateY(-100%);
}

.main-title {
  padding: 10%;
  /* background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,0.6) 0%, rgba(148,187,233,1) 100%); */
}

.about-card-container {
  padding: 10%;
}

.project-list-container {
  padding: 10%;
}

.main-gradient {
  background: url('/testGradient.svg') 0% 0% / contain no-repeat;
  background-repeat: no-repeat;
}
/* GRADIENT BACKGROUND background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */