@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220; */
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
}

/* HELLO CONTAINER AND TEXT */
.main-title {
  padding: 15% 0 0 0;
}

.sub-title {
  /* font-size: 1.5rem;
  font-weight: 900; */
  /* margin-bottom: 1rem; */
  text-align: center;
  color: rgb(217, 28, 217);
}

/* END HELLO CONTAINER AND TEXT */

/* BUTTONS */

.download-button {
  background: linear-gradient(44deg, rgb(231, 54, 243) 0%, rgb(123, 97, 255) 100%);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.download-button:hover {
  background-color: #0056b3;
}

.download-button-container {
  display: flex;
  flex: wrap;
  justify-content: center;
  margin: 2rem 0;
  gap: 15px;
}

.view-button {
  background: linear-gradient(310deg, rgb(231, 54, 243) 0%, rgb(123, 97, 255) 100%);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* END BUTTONS */

.my-links a {
  color: #0070f3;
  text-decoration: none;
}

.my-links a:hover,
.my-links a:focus,
.my-links a:active {
  text-decoration: underline;
}

/* CHAT BUTTON */

.menuContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  padding: 1rem;
  height: 150px;
  width: 150px;
}

/* END CHAT BUTTON */

.hello {
  line-height: 0.9;
  font-weight: 400;
}

/* NAVIGATION STYLES */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
}

.navLogo {
  max-width: 300px;
  font-size: 26px;
}

.myLogo {
  width: 300px;
  height: 70px;
  margin: 0 20px;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 20px; /* Adjust spacing for mobile */
    flex-direction: column;
  }

  .nav-links a {
    margin-bottom: 10px; /* Adjust spacing for mobile */
  }
}

/* END NAV STYLES */

/* PROJECT LIST */

.project-title-container {
  text-align: center;
  font-size: 32px;
}

.project-list-container {
  width: 100%;
  align-items: center;
  margin: 10% 0 0 0;
  flex: wrap;
  gap: 10px;
}

/* END PROJECT LIST */

/* PROJECT CARDS */

.card {
  position: relative;
  height: 425px;
  width: 800px;
  background: rgba(255, 255, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 25%;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.card-name {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: left;

}

.card-description {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card-links {
  position: absolute;
  bottom: 0;
  left: 10;
  display: flex;
  gap: 10px; /* Adjust the gap between links */
  margin-bottom: 16px;
}

.card-links a {
  text-decoration: none;
  color: #007bff;
}

.card-date {
  margin: 0;
  align-self: flex-end; /* Align to the bottom right */
}

.card:hover {
  transform: translateY(-10px);
}

.card.hovered .card-content {
  transform: translateY(-100%);
}

/* END PROJECT CARDS */

.about-card-container {
  padding: 5% 0 0 0;
  align-items: center;
}

.main-gradient {
  background: url('/testGradient.svg') 0% 0% / cover no-repeat;
  background-repeat: no-repeat;
}

.resize-modal {
  width: 600px;
  height: 800px;
  object-fit: cover;
  object-position: center;
  /* margin-bottom: 25%; */
}

.page-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}