.container {
    max-width: 100%;
}

.projectList {
  display: grid;
  flex-direction: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
  
  /* Additional styles for the first item in each row */
  .project:first-child {
    margin-top: 0;
  }

  .project:hover {
    background-color: #e5e5e586;
    cursor: pointer;
  }
  
  /* Responsive layout - adjust number of columns based on screen size */
  @media (max-width: 768px) {
    .projectList {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 480px) {
    .projectList {
      grid-template-columns: repeat(2, 1fr);
    }
  }